#register{width: 1200px;height: 650px;background: #FFFFFF;margin: auto;overflow: hidden;}
#register-1{width: 1040px;height: 520px;margin: auto;margin-top: 50px;border: 1px solid #C2C2C2;padding: 20px;
h2{width: 970px;height: 30px;border-bottom: 1px solid #C2C2C2;padding-top:10px ;}}
#register-2 input{width: 247px;height: 28px;}
#register-2 div{margin-top: 20px;margin-left: 50px;}
#zc{margin-left:120px ;margin-top:45px;width: 140px;height: 38px;background: #007AFF;color: #FFFFFF;}
#register-3{width: 620px;height: 111px;border-top: 1px solid #C2C2C2;a{float: left;margin-top: 10px;}}
